[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL
[submodule "external/SDL_shadercross"]
	path = external/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross
